<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<h1>Welcome to Hotel Booking</h1>
    <p>This website allows you to explore hotels, users, and comments.</p>
    <!-- Навигационная панель (navbar) для перехода между страницами -->
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'hotels' %}">Hotels</a></li>
            <li><a href="{% url 'users' %}">Users</a></li>
            <li><a href="{% url 'comments' %}">Comments</a></li>
        </ul>
    </nav>
{% extends 'base.html' %}
{% block content %}
  <h1>Welcome to Hotel Booking</h1>
  <p>This website allows you to explore hotels, users, and comments.</p>
{% endblock %}
<script type="text/html" src="base.html"></script>
<script type="text/html" src="home.html"></script>
<script type="text/html" src="hotels.html"></script>
<script type="text/html" src="users.html"></script>
<script type="text/html" src="coments.html"></script>
<script type="text/html" src="general.html"></script>
<script type="text/html" src="filter.html"></script>
<script type="text/html" src="index.html"></script>




</body>
</html>